body{
    width: 700px;
    margin: 0px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*HEADERS*/
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo img{
    width:150px;
}
.menu img{
    width: 50px;
}
/*DJ INFO*/
section{
    display: flex;
    padding: 20px;
}
.dj img{
    width: 350px;
    height: 500px;
    padding-right: 10px;
}
.dj-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.dj-info em{
    font-weight: bold;  
    font-size: smaller;
}
.dj-info h1{
    font-size: 300%;
    font-weight: lighter;
    margin: 20px 0 20px 0;
}
.dj-info .contact div{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding-top:20px;
    color: rgb(224, 3, 3);
    font-weight: bold;
    font-size: 14px;
    justify-content: space-between;
    height: 75px;
}
.dj-info .contact div .title{
    font-weight: bolder;
    font-size: 15px;
    color: black;
}
.dj-info #img-link{
    margin-top: 30px;
    font-size: small; 
}
.dj-info #img-link a{
    color: black;
}
.dj-info .circle{
    width: 60px;
    height: 60px;
    background-color: rgb(224, 3, 3);
    border-radius: 50%;
    margin-top: 45px;
}
/*EVENTS*/
.events{
    background-color: rgb(46, 46, 46);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 20px;
    padding: 0 40px 0 40px;
}
.events h1{
    font-size: 250%;
    font-weight: lighter;
    
}
.events .event-section{
    display: flex;
}
.events .event-section img{
    width: 200px;
   padding-bottom: 40px;
}
.events .event-section div{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.events .event-section div h3{
    margin: 0px 0px 20px 0px;
    font-size: 28px;
    font-weight: lighter;
}
.events .event-section div span{
    font-size: 25px;
    font-weight: lighter;
    margin: 0px 0px 20px 0px;
}
.events .event-section div form p button{
    border-color: white;
    background-color:rgb(46, 46, 46);
    color: white;
    font-size: 15px;
    padding: 10px;
}
